*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
}

.calculator-grid{
    display:grid;
    margin-top: 15vh;
    justify-content: center;
    grid-template-columns: repeat(4 ,6rem);
    grid-template-rows: minmax(7rem ,auto) repeat(5 , 4rem) ;
    
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgb(240, 245, 247);
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    padding: .75rem;
    overflow-wrap: break-word;
    word-break: break-all;
    border: 2px solid black;
    
}
.output .previous-operand{
    font-size : 1.5rem;
}
.output .current-operand{
    font-size: 2.5rem;
}
.calculator-grid > button{
    cursor: pointer;
    font-size: 1.5rem;
    background-color:rgb(207, 239, 246);
    border-radius: .2rem;
}
.calculator-grid > button:hover{
    background-color: aliceblue;
}